.input {
  background-color: #f0f2f5;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

  .gallery_icon {
    font-size: 20px;
    cursor: pointer;
  }

  input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    color: rgb(78, 78, 78);
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    .send_icon {
      font-size: 20px;
      transform: translateY(3px);
      color: limegreen;
    }
  }
}
